.footer-container{
    display: flex;
    padding: 30px 40px 40px;
    background-color: #14111F;
    justify-content: center;
    border-top: 1px solid rgba(237, 234, 246, 0.2);
}

.footer-container p{
    margin: 0;
    color: #EDEAF6;
    font-family: "IBM Plex Mono", monospace;
}