.main-header-container{
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: #14111F;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 22px 40px;
    border-bottom: 1px solid rgba(237, 234, 246, 0.1);
}

.header-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 10px;
}

.header-items img{
    height: 45px;
    width: 45px;
}

.header-items:last-child{
    justify-content: end;
    gap: 40px;
}

.header-items h2{
    margin: 0;
}

.title{
    font-family: Space Grotesk, sans-serif;
    color: #EDEAF6;
    font-size: 25px;
    font-weight: 700;
    max-width: 800px;
    margin: 0;
}

.nav-links p{
    font-family: Literata;
    color: #EDEAF6;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s ease;
    margin: 0;
}

.nav-links p:hover{
    opacity: 0.5;
}

.theme-toggle-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 7px 16px;
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    height: 31.6px;
    width: 130px;
    border-radius: 999px;
}

/* just remove if deemed unnessary */
.whiteDPSM{
    border-radius: 999px;
}